# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/*

# Expo
.expo/
dist/
web-build/
*.orig.*
.expo-shared/

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
ios/
android/

# Metro
.metro-health-check*

# Environment
.env
.env.*
!.env.example

# Supabase
supabase/.branches
supabase/.temp
supabase/.env

# Logs & debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
*.swp

# Build & cache
*.tsbuildinfo
coverage/
.turbo/
